*{
    padding: 0;
    margin: 0;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}
body{
    /* border: 2px solid black; */
    background-color: #e3e9ff;
    /* height: 100vh;
    width: 100vw; */
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.main{
    /* border: 2px solid red; */
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    background-color: white;
    box-shadow: rgb(165, 161, 161) 1px 1px 20px 0px;

    padding: 12px;

    border-radius: 32px;

    
}
.head{
    margin-left: 12px;
    border-bottom: 2px solid black;
    padding-bottom: 12px;
}
.butt{
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}
button{
    padding: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: center;
    border-radius: 12px;
    background-color: #af7eeb;
    color:white;
    border:none;
    cursor: pointer;
    box-shadow: rgb(165, 161, 161) 1px 1px 20px 0px;


}
.downcon{
    margin: 12px;
    font-size: x-large;
    margin-bottom: 24px;
    
}
.todoadd{
    
    /* top:? */
    /* border: 2px solid black; */
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.in{

    border-radius: 12px;
    width: 100%;
    height: 100%;

}
.input{
    width: 70%;
    /* border: 2px solid red; */
    
}
.show{
    background-color: white;
    /* border: 2px solid red; */
    padding: 22px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(165, 161, 161) 1px 1px 20px 19px;
    
    /* display: none; */
    position: relative;
    left:0vw;
    border-radius: 12px;
    

    

    
    
}
.addbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left : -100vw;
    top: 0;
    
    
}
.totalcomplete{
    
    display: flex;
    gap:12px;
    margin-left: 12px;
    margin-bottom: 12px;
    padding: 12px;
    border-bottom: 2px solid black;
    
}
.show1{
    position: absolute;
    top: 0;
    left: -100vw;
}
.maincon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}